* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* Shared style  */
.max-w {
    max-width: 1160px;
    margin: 0 auto;
}

.btn {
    padding: 12.5px 16px;
    background: #30B868;
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: 600;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 2px;
}

.btn:hover {
    background-color: #207543;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
}

nav ul {
    list-style: none;

}

nav ul {
    display: flex;
    gap: 32px;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

nav ul li a:hover {
    color: #207543;
}

.btn2 {
    background: #00000000;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}
.btn2:hover {
   border: 1px solid #207543;;
}

.hero-btn {
    display: flex;
    gap: 16px;
    margin-top: 32px;
}

.hero {
    background: url('assets/hero-bg.png'), #00193191;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 600px;
    display: flex;
    align-items: center;
}

.hero h1 {
    font-size: 72px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    
}

.text-green {
    color: #30B868;
}

.hero-top {
    display: flex;
    align-items: center;
    gap: 2px;
    background: white;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 12px; 
    border-radius: 100px;
}
.outer {
    height: 15px;
    width: 15px;
    background: #4691653f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle {
    height: 10px;
    width: 10px;
    background: #46916591;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.inner {
    height: 6px;
    width: 6px;
    background: #469165;
    border-radius: 50%;
    box-sizing: border-box;

}